{% extends 'base.html' %}

{% block content %}
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us</h1>
                <p class="lead fw-normal text-white mb-0">Welcome to Ecommerce Website</p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <br>
                    <br>
                    <h1>We Believe Big Change Starts Small.</h1>
                    <p align="justify">Small as in bringing your own bags to the grocery store, or drinking from a reusable water bottle—or making sustainable choices when you shop.
                    For every item purchased we plant trees, in an effort to regenerate ecosystems, capture carbon and provide planting jobs in communities around the world. All our products are created with an Earth-First approach, meaning they’re made in fair, safe working conditions, and constructed using only sustainably sourced and recycled materials.
                    </p>
                    <br>
                </div>
            </center>
        </div>
    </div>
{% endblock %}