{#<footer class="py-5 bg-dark">#}
{#    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>#}
{#</footer>#}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title></title>

</head>

<footer class="py-5" style="background: ghostwhite">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h5>Linen-eco</h5>
                <p align="justify">Innovative e-commerce platform transforming the fashion industry with sustainable and ethical practices. We offer a
                    curated collection of eco-friendly clothing that meets high standards of ethical production in response to growing environmental and social awareness.
                </p>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-instagram" style="font-size: x-large""></i></a>
                    <a href="#" style="margin-left: 20px; font-size: x-large"><i class="fab fa-twitter"></i></a>
                    <a href="#" style="margin-left: 20px; font-size: x-large""><i class="fab fa-linkedin"></i></a>
                    <a href="#" style="margin-left: 20px; font-size: x-large""><i class="fab fa-facebook"></i></a>
                </div>
            </div>
            <div class="col-md-2" style="margin-left: 100px">
                <h5>ABOUT US</h5>
                <ul style="list-style: none; padding: 0">
                    <li style="margin-bottom: 5px;"><a href="#" style="text-decoration: none; color: inherit">Our Producers</a></li>
                    <li style="margin-bottom: 5px;"><a href="#" style="text-decoration: none; color: inherit">Sitemap</a></li>
                    <li style="margin-bottom: 5px;"><a href="#" style="text-decoration: none; color: inherit">FAQ</a></li>
                    <li style="margin-bottom: 5px;"><a href="#" style="text-decoration: none; color: inherit">About us</a></li>
                    <li style="margin-bottom: 5px;"><a href="#" style="text-decoration: none; color: inherit">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5>CUSTOMER SERVICES</h5>
                <ul style="list-style: none; padding: 0">
                    <li style="margin-bottom: 5px;"><a href="#" style="text-decoration: none; color: inherit">Contact Us</a></li>
                    <li style="margin-bottom: 5px;"><a href="#" style="text-decoration: none; color: inherit">Careers</a></li>
                    <li style="margin-bottom: 5px;"><a href="#" style="text-decoration: none; color: inherit">Shipping & Returns</a></li>
                    <li style="margin-bottom: 5px;"><a href="#" style="text-decoration: none; color: inherit">Privacy Policy</a></li>
                    <li style="margin-bottom: 5px;"><a href="#" style="text-decoration: none; color: inherit">Newsletters</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 text-center">
                <p>&copy; 2024 Linen-eco, Inc</p>
            </div>
        </div>
    </div>
</footer>

</html>